.projects h2{
    margin-top: 50px;
    color: #F8781C;
    text-align: center;
}
.projects{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.projects-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.project-card{
    width: 25%;
    height: 400px;
    padding-bottom: 20px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.74);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.9px);
-webkit-backdrop-filter: blur(7.9px);
cursor: pointer;

}
.project-card img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.projects-container span{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;

}
.projects p {
    font-weight: 300;
    font-size: 12px;
  }
  .p-link{
    text-decoration: none;
    color: black;
    transition: 0.2s;
  }
  .p-link:hover{
    color: #F8781C;
  }
  @media only screen and (max-width: 1124px){
    .projects-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .projects-container div{
        width: 55%;
        height: fit-content;
    }
}
@media only screen and (max-width: 723px){
    .project-card{
        width: 80%!important;
    }
}