.about{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
}

.about h2{
    margin-top: 50px;
    color: #F8781C;
    text-align: center;
}
.about-container > p{
    font-weight: 300;
    font-size: 14px;
}
.about-container{
    width: 90%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.74);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    gap:40px;
}
.about-container ul{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding-left: 20px;
}
@media only screen and (max-width: 715px){
    .about-container{
        width: 100%;
    }
    .about{
        padding: 10px;
    }
}