/** @format */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-left h1 {
  font-size: 42px;
  font-weight: bolder;
}
.hero-left span {
  color: #f8781c;
}
.hero-left p {
  font-weight: 300;
  font-size: 14px;
}


.action-btn {
  display: flex;
  gap: 10px;
}
.action-btn :nth-child(1) {
  padding: 10px 20px;
  outline: none;
  border: 1px solid #f8781c;
  background-color: #f8781c;
  color: #fff;
  font-weight: 400;
  border-radius: 16px;
  cursor: pointer;
}
@media only screen and (max-width: 1150px){
  .hero {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0 50px;
    
  }
  .hero-left {
    width: 70%;
  }
}
@media only screen and (max-width: 920px){
  .hero-left {
    width: 90%;
  }
}
@media only screen and (max-width: 555px){
  .hero-left h1 {
    font-size: 28px;
  }
  .hero-left {
    width: 99%;
  }
}
/* ================================================================ */
.skill {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 100px 0px;
}
.skill div {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.74);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill div img {
  width: 90px;
}
@media only screen and (max-width: 555px){
  .skill div img {
    width: 70px;
  }
  .skill div{
    width: 110px;
    height: 110px;
  }
  .skill{
    margin: 20px 0;
    gap: 50px;
  }
}
/* =============================================================== */
.whyhire {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.myskill-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.myskill-left span {
  color: #f8781c;
}
.myskill-left h3 {
  font-weight: 400;
  color: #f8781c;
}
.myskill-left,
.myskill-right p {
  font-weight: 300;
  font-size: 14px;
}
.myskill-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.hire-container-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.myskill-right-d1,
.myskill-right-d2,
.hire-container-two {
  width: 280px;
  height: 160px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.74);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 20px;
}
.hire-btn {
  padding: 10px 20px;
  outline: none;
  border: 1px solid #f8781c;
  background-color: #f8781c;
  color: #fff;
  font-weight: 500;
  border-radius: 16px;
  cursor: pointer;
  align-self: flex-start;
}
.myskill-right img {
  width: 25px;
}
@media only screen and (max-width: 1150px){
  .whyhire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 50px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .myskill-left {
    width: 80%;
  }
  @media only screen and (max-width: 622px){
    .myskill-right{
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
    }
  }
}
/* ================================================================ */
.hire-sec {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hire-sec h2 {
  color: #f8781c;
}
.hire-sec div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 90%;
}
.hire-sec img {
  width: 100px;
}
.hire-sec p {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}
