.contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    margin-top: 50px;
}

.contact-container h2{
    margin-top: 150px;
    color: #F8781C;
    text-align: center;
}

.contact-right  {
    position: relative;
    padding: 30px;
    width: 30%;
    /* height: 400px; */
    background: rgba(255, 255, 255, 0.74);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
.contact-right input{
    width: 100%;
    padding: 5px;

}
.contact-right textarea{
    height: 100px;
    width: 100%;
    resize: none;
    padding: 5px;
}
.contact-right button{
    padding: 10px 20px;
    outline: none;
    border: 1px solid #f8781c;
    background-color: #f8781c;
    color: #fff;
    font-weight: 500;
    border-radius: 16px;
    cursor: pointer;
    
}
.status-message{
width: 100%;
font-size: 10px;
padding: 5px;
color: #fff;
}
  
  .success {
    background-color: rgba(0, 128, 0, 0.50);
    border-left: 3px solid green;
  }
  
  .error {
    background-color: rgba(255, 0, 0, 0.50);
    border-left: 3px solid red;
  }

@media only screen and (max-width: 1023px){
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px; 
        margin-top: 50px;
    }
    .contact-right form {
        gap: 20px;
    }
    .contact-right textarea {
        height: 200px;
    }

    .contact-right  {
        width: 50%;
    } 
}

@media only screen and (max-width: 715px){
    .contact-right  {
        width: 90%;
    } 
}